html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/**Navigation**/
.img-flex {
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  color: #ffffff;
}

header {
  background-color: #000000;
}

li {
  display: inline-block;
}

span {
  color: #ffffff
}

?
/**section 2**/





/**section 3**/


@media only screen and (min-width: 38em) {

  ul {
    text-align: right;
  }

  h1 {
    text-align: left;
  }

}


body {
  margin: 0;
  background-color: #e2e2e2;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 1rem;
}

a:hover {
  background-color: #000;
}


strong {
  padding: 1rem 1rem 0;
}

p {
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.wrapper {
  align-items: center;
  max-width: 50em;
  margin: 0 auto;
}
.circle {
  background: #008000;
  width: 40px; height: 40px;
  border-radius: 50%;
  display:flex;
  color: #ffffff;
}
.circle-red {
  background: #FF0000;
  width: 40px; height: 40px;
  border-radius: 50%;
  display:flex;
  color: #ffffff;
}
/**css for sign-up form**/
@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

  html {
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    width: 50%;
    margin-top: 2rem;
  }

  .image {
    margin-top: 3.5rem;
    width: 50%;
  }

  ul {
    text-align: right;
  }

  h1 {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  html {
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .content {
    margin-top: 3rem;
  }

  image {
    margin-top: 2rem;
  }

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}

}

@media only screen and (min-width: 90em) {

  html {
  }

}
